.darumadrop-one-regular {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}
 
.margarine-regular {
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.message {
    text-align: center;
    font-size: 3rem;
    font-family: "Margarine", sans-serif;
    margin-bottom: 5vh;
}

.buttons {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

button {
    cursor: pointer;
    width: 100px;
    font-size: 3rem;
    font-family: "Bangers", system-ui;
    border-radius: 10px;
    border: 5px solid transparent;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
}

button.player-selected {
    border-bottom: red 5px solid;
}

.gameboard-container {
    margin: auto;
    text-align: center;
    font-size: 3rem;
    font-family: "Darumadrop One", sans-serif;
    height: 400px;
    width: 400px;
    border-collapse: collapse;
}

.option {
    border: 3px solid black;
    border-width: 5px;
    width: 33%;
    height: 33%;
}

.highlight {
    background-color: yellow;
    opacity: 0.5;
}

.row .option:first-child {
    border-left: none;
}

.row .option:last-child {
    border-right: none;
}

.first.row .option {
    border-top: none;
}

.last.row .option {
    border-bottom: none;
}

.restart {
    text-align: center;
    margin-top: 5vh;
}

.restartButton {
    font-size: 2rem;
    font-family: "Margarine", sans-serif;
}

.restartButton:hover {
    color: red;
    cursor: pointer;
}


